<html>
    <head>
        <title>Django Test Landing</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Test Landing</a></h1>
        </div>

        <div>
            <p>published: 6.01.2020, 22:22</p>
            <h2><a href="">Item First</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 6.01.2020, 22:25</p>
            <h2><a href="">Item Second</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>